<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <form action="/payment/results">
      <label for="user_apr_id">APR</label><br>
      <input id="user_apr_id" name="user_apr" placeholder="E.g. 5.42"><br>
      <label for="user_years_id">Number of years</label><br>
      <input id="user_years_id" name="user_years" placeholder="How many years to repay?"><br>
      <label for="user_pv_id">Principal</label><br>
      <input id="user_pv_id" name="user_pv" placeholder="How much principal?"><br>
      <button>Calculate monthly payment</button>
  </form>
  </body>
</html>
