<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Random Results</h1>
    <p>Minimum</p>
    <p><%= @user_min %>
    <p>Maximum</p>
    <p><%= @user_max %>
    <p>Random Number</p>
    <p><%= @random_number %></p>
    
    <a href="/random/new">Pick another random number<a>
  </body>
</html>
