<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <form action="/random/results">
      <label for="user_min_id">Minimum</label><br>
      <input id="user_min_id" name="user_min" placeholder="E.g. 1.5"><br>      
      <label for="user_max_id">Maximum</label><br>
      <input id="user_max_id" name="user_max" placeholder="E.g. 4.5"><br>
      <button>Pick random number</button>
  </form>
  </body>
</html>
