<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <form action="/square_root/results">
      <label for="number_id">Enter a number</label><br>
      <input id="number_id" name="number" placeholder="What number do you want to take the square root of?"><br>
      <button>Calculate square root</button>
  </form>
  </body>
</html>
