<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Square Root Results</h1>
    <p>Number</p>
    <p><%= @number %>
    <p>Square Root</p>
    <p><%= @square_root %></p>
    <a href="/square_root/new">Calculate another square root<a>
  </body>
</html>
